.userForm {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.userForm .btn {
    margin-left: 20px;
}

.form-actions {
    display: flex;
    justify-content: center;
}

.error {
    color: #b04848;
    font-weight: bold;
}